table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    height: auto;
    width: 30px;
}
th {
    background-color: white;
}
tr:nth-child(even) {
    background-color: #f5f5f5;
}
.img {
    width: 50%;
    margin-top: 5px;
}